/* Adding design for all over the page*/
body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: Arial, 400;
    background-color: #17072b;
    color: #fff;
    padding: 0%;
}

/*header design*/
h1{
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*fixing the navbsr*/
.navbar ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a{
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    color: #fff;
}

.navbar a:hover{
    background-color: #7951ab;
}

.navbar li{
    float: left;
    translate: 430px;
}

/*flex to put the two div align*/
.twoblocks{ 
    display: flex;
    background-color: #fff;
}

/*welcome design*/
.wc{
    color: black;
    flex: 2;
    padding: 15px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*line up design*/
.lu{
    background-color: #172d67;
    color: #fff;
    flex: 1;
    padding: 10px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.lu ul{
    list-style-type: none;
}

/*img translate*/
.img{
    display: flex;
    flex: 1;
    gap: 15px;
}

/*css for footer*/
.fot{
    background-color: #8c15e9;
    color: #fff;
    text-align: center;
    margin: 0px;
    padding: 0px;
}