body{
    background-color: rgb(73, 73, 73);
}

h1{ 
    text-align: center;
    color: blueviolet;
    font-size: 3pc;
}

.marvel{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

video{
    box-shadow: 1px 3px 15px black;
}

.foot{
    position: relative;
    top: 570px;
    text-align: center;
    color: antiquewhite;
}